In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('data/losses.csv')

In [4]:
data.head(20)

          Date  Losses
0   2022-02-25  2800.0
1   2022-02-26  1500.0
2   2022-02-27   200.0
3   2022-02-28   800.0
4   2022-03-01   410.0
5   2022-03-02   130.0
6   2022-03-03  3160.0
7   2022-03-04   166.0
8   2022-03-05   834.0
9   2022-03-06  1000.0
10  2022-03-07     0.0
11  2022-03-08  1000.0
12  2022-03-09     0.0
13  2022-03-10     0.0
14  2022-03-11     0.0
15  2022-03-12     0.0
16  2022-03-13     0.0
17  2022-03-14     0.0
18  2022-03-15  1500.0
19  2022-03-16   300.0

In [5]:
data['Date'] = pd.to_datetime(data['Date'])
data = data.set_index('Date')

In [6]:
data

            Losses
Date
2022-02-25  2800.0
2022-02-26  1500.0
2022-02-27   200.0
2022-02-28   800.0
2022-03-01   410.0
...            ...
2024-01-10   800.0
2024-01-11   830.0
2024-01-12   840.0
2024-01-13   700.0
2024-01-14   840.0

[689 rows x 1 columns]